@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
* {
    margin: 0;
    padding: 0;
    font-family: Asap, sans-serif;
}

body {
    background: #2c3e50;
}

/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.button-play {  
    margin-top: 20px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ecf0f1;
}

/* Header */
header {
    background: #ecf0f1;
    color: #2c3e50;
    padding: 10px;
    text-align: center;
}

header .branding {
    text-transform: uppercase;
}

header a {
    color: #2c3e50;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    display: inline-block;
    padding: 0 10px;
}

header .current a {
    font-weight: bold;
}

header a:hover {
    font-weight: bold;
}

/* Showcase */
.showcase{
    height: 400px;
    background-image: url('./img/showcase.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    text-align: center;
    color: #ecf0f1;
}

.showcase h1 {
    margin-top: 110px;
    font-size: 55px;
    margin-bottom: 8px;
}

.showcase p {
    font-size: 20px;
}

.showcase a {
    font-size: 20px;
    text-decoration: none;
    color: #ecf0f1;
}

.showcase a:hover {
    border-bottom: 3px solid #ecf0f1; 
}

/* Boxes */
.boxes {
    margin: 20px auto;
}

.boxes h2 {
    text-align: center;
    color: #ecf0f1;
    margin-bottom: 10px;
}

.boxes .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    text-align: center;
    color: #ecf0f1;
    width: 30%;
    margin: 0 auto;
    display: inline-block;
}

.boxes .box h3 {
    padding-bottom: 10px;
}

.boxes .box img {
    width: 90px;
    margin: 0 auto;
}

/* Footer */
footer {
    padding: 13px;
    margin: 10px auto auto auto;
    color: #2c3e50;
    background-color: #ecf0f1;
}

footer p {
    display: inline;
    font-size: 12px;
    font-weight: bold;
}

footer .copyright {
    float: right;
}

/* Play Styling */
.score-board {
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    margin: 20px auto;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    position: relative;
}

.badge {
    background: #E2584D;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#comp-label {
    position: absolute;
    top: 30px;
    right: -30px;
}

.result {
    font-size: 40px;
    color: white;
}

.result p {
    text-align: center;
    font-weight: bold;
}

.choices {
    margin-top: 50px;
    text-align: center;
}

.choice {
    border-radius: 50%;
    border: 4px solid white;
    margin: 0 20px;
    padding: 10px;
    display: inline-block;
    /* transition: all 1s ease; */
}

.choice:hover {
    transition: all 0.3s ease;
    cursor: pointer;
    background: rgb(37, 40, 46);
}

#action-message {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.green-glow{
    border: 4px solid #4DCC7D;
    box-shadow: 0 0 10px #31B43A;
}

.red-glow{
    border: 4px solid #FC121B;
    box-shadow: 0 0 10px #D01115;
}

.gray-glow{
    border: 4px solid #464647;
    box-shadow: 0 0 10px #25292B;
}